body{
    background-image: url('../assests/img/kosmos.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-flex {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem a linha */
    height: 100vh; /* Altura do contêiner igual à altura da janela de visualização */
  }
  .element {
    flex: 1 1 100%; /* Faz com que os elementos cresçam igualmente */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo-content{
    height: 30vh;
  }

  #content-2{
    height: 70vh;
  }

  #content-2 img{
    max-height: 70vh;
  }

  #logo-content img{
    max-height: 18vh;
    width: auto;
  }

  #carousel-patrocinadores{
    height: 25vh;
   }

   #carousel-patrocinadores img{
     max-height: 24vh;
    }

   #meio{
    height: 55vh;
   }

   #meio img{
    max-height: 50vh;
   }

   .table-ranking {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    max-height: 70vh;
   }

   .table-ranking table {
    color: white;
   }

   .table td, .table th {
    padding: 0.2rem;
    vertical-align: middle;
   }

   #carousel-ranking {
    height: 100%;
   }

   .carousel-inner {
    height: 100%;
   }